@import '@/assets/scss/index.scss';

.container {
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}